<h1>Blogs</h1>

<% if current_user.try(:admin?) %>
  <h3>あなたは管理者だ！</h3>  
<% elsif current_user.try(:vip?) %>
  <h3>VIPさまの登場だ！</h3>  
<% else %>
  <h3>安心の一般ユーザーおーけーい</h3>
<% end %>
  

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
