<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Private:</strong>
  <%# check_box_tag <ID名>, <送る値>, 元の値, オプション（この中でURLとかメソッドとか、あとAjax使用を明示してる）、基本的にはtrueを送って逆にするだけ %>
    <%= check_box_tag 'blog[private]', true, @blog.private, {
        # onchange: '$(this).data("params", "blog[private]=" + this.checked)',
        data: {
            url: blog_url + '/blog_private/',
            method: :post,
            remote: true
        }
    } %>
  <span id="true_or_false">
    <%= render :partial => 'private_boolean' %>
  </span>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

<div class="progress-percentage text-xs-center">0%</div>
<progress class="progress progress-striped" max="100" value="0"></progress>