<h1>ユーザー一覧じゃい</h1>
<br>
<table>
  <th>メルアド</th>
  <% @users.each do | user |%>
    <% unless user.admin? || user == current_user%>
      <tr>
        <td><%= user.email%></td>
        <td>
          <%= render 'follow_form', user: user %>
        </td>
      </tr>
      <% end %>
  <% end %>
</table>

<h2>ユーザー</h2>
<% @users.each do |user| %>
  <% if user.id != current_user.id %>
    <li>
      <div class="item">
        <%= link_to user.email, user %>
        <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %>
      </div>
    </li>
    <li><%= render 'follow_form', user: user %></li> <!-- フォロー機能が実装されて入ればこの一文も必要 -->
  <% end %>
<% end %>