<h1>マイページ</h1>

<% if @user.image.url  %>
  <p>
    <%= link_to image_tag(@user.image.url), edit_user_registration_path %>
  </p>
<% end %>

<%= link_to @user.name, edit_user_registration_path %><br>
<%= link_to 'フォロー', follow_users_path(current_user) %><%= @user.following.count %>/
<%= link_to 'フォロワー', followed_users_path(current_user) %><%= @user.followers.count %>

<h2>いまの最終目標</h2>
<h3><%= @user.last_target %></h3>

<h2>あなたの達成度</h2>
<h3><%= "未実装" %></h3>
