<div class="listings">
  <div class="listings_channels">
    <h2 class="listings_header">Categories</h2>
    <ul class="channel_list">
      <%= sidebar_custom('マイタスク', custom_path(current_user)) %>
      <%= sidebar_custom('マイページ', current_user) %>
      <%= sidebar_custom('カスタマイズ', customs_path) %>
      <%= sidebar_custom('フォロー', follow_users_path(current_user)) %>
      <%= sidebar_custom('フォロワー', followed_users_path(current_user)) %>
      <%= sidebar_custom('ユーザー検索', find_users_path) %>
      <%#= sidebar_custom('メンター機能', current_user) %>
      <% if current_user.admin? %>
        <%= sidebar_custom('管理者', users_path) %>
      <% else %>
        <%= sidebar_custom('DM', users_path) %>
      <% end %>
    </ul>
  </div>
</div>